.homeMenuWrap,.ecEleHomeWrap{
	padding: 0px;
}
.ECSlideShow{
	margin-top: 4%;
}
.bannerimg{
	height: 400px !important;
}
.ECSNavbar{
	background-color: #fff!important;
	color: #333!important;
	border: 0px solid #fff !important;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #ccc !important;
	color: #222 !important;
}